/**
 * ****************************************
 * Accordion
 * ****************************************
 */
.acc-button {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
    background-color: #ededed;
    text-align: left;
    border: 1px solid #dddddd;
    height: 60px;
    padding-left: 18px;
    transition: .5s;
    position: relative
}
.acc-button:hover {
    background-color: #dddddd
}
.acc-container {
    padding: 0 18px;
    background-color: #ffffff;
    height: 0;
    overflow: hidden;
    border: 1px solid #eeeeee;
    border-top: none;
    transition: height .5s ease
}
.acc-button:after {
    content: " ";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-color: #cccccc transparent transparent transparent;
    position: absolute;
    top: 25px;
    right: 8px
}
.acc-button.active:after {
    top: 15px;
    border-color: transparent transparent #cccccc transparent
}