/**
 * **************************************************
 * SelectOption
 * @author Spell-Master (Omar Pautz)
 * @copyright 2017
 * @version 3.6 (2022)
 * 
 * Personaliza menu suspenso.
 * **************************************************
 */

.select-option-container {
    position: relative;
    width: 100%;
    color: #444444;
    font-size: 1em
}
.select-option-container > .select-button {
    cursor: pointer;
    background-color: #ededed;
    border: .0625rem solid #dddddd;
    height: 3rem;
    line-height: 3rem;
    padding: 0 .625rem
}
.select-option-container > .select-button:after {
    content: "";
    width: 0;
    height: 0;
    border: .625rem solid transparent;
    border-color: #828282 transparent transparent transparent;
    position: absolute;
    top: 1.25rem;
    right: .625rem
}
.select-option-container > .select-button.active:after {
    top: .4375rem;
    border-color: transparent transparent #828282 transparent
}
.select-option-container > .select-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #ffffff;
    border: .0625rem solid #dddddd;
    border-top: none;
    max-height: 18.75rem;
    overflow-y: auto;
    z-index: 1;
    display: none
}
.select-option-container > .select-list.active {
    display: block
}
.select-option-container > .select-list > div {
    height: 3.125rem;
    line-height: 3.125rem;
    padding: 0 .625rem;
    border-top: .0625rem solid #dddddd;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.select-option-container > .select-list > div:first-child {
    border-top: none
}
.select-option-container > .select-list > div:hover {
    background-color: #f1f1f1
}
