/**
 * **************************************************
 * Class TabPaginator
 * @author Spell-Master (Omar Pautz)
 * @copyright 2017
 * @version 4.2 (2022)
 * **************************************************
 */

.tab-menu,
.tab-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.tab-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: .0625rem solid #d9d9d9;
    border-bottom: none;
    background-color: #f1f1f1
}
.tab-link {
    outline: 0;
    border: none;
    padding: 1rem 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    word-wrap: break-word;
    background-color: #f1f1f1
}
.tab-link.active {
    background-color: #ffffff
}
.tab-body {
    display: none;
    border: .0625rem solid #d9d9d9;
    border-top: none
}
.tab-body.active {
    display: block !important
}
