/**
 * **************************************************
 * Paginator
 * @author Spell-Master (Omar Pautz)
 * @copyright 2020
 * @version 2.0 (2022) Carol & Spell-Master
 * **************************************************
 */
ul.paginator-nav {
    list-style: none;
    white-space: nowrap;
    overflow: hidden
}
ul.paginator-nav > li {
    display: inline-block;
    margin-left: -.0625rem;
    font-size: 1em;
    font-weight: 600;
    color: #4d4d4d;
    padding: .625rem 1.125rem;
    background-color: #fafafa;
    border: .0625rem solid #e3e3e3;
    cursor: pointer
}
ul.paginator-nav > li:last-of-type {
    cursor: default;
    padding: .625rem 1.125rem
}
ul.paginator-nav > li.current {
    background: #4d4d4d;
    color: #ffffff;
    cursor: default;
    pointer-events: none
}
ul.paginator-nav > li:hover:not(.current) {
    background-color: #e7e7e7
}
ul.paginator-nav > li:last-of-type:hover {
    background-color: #fafafa
}
.paginator-hide {
    display: none
}
