/**
 * **************************************************
 * ImageCut
 * @author Spell-Master (Omar Pautz)
 * @copyright 2019
 * @version 3.0 (06/08/2026)
 * 
 * NÃO MODIFICAR NADA NESSE ARQUIVO!!!
 * Para correto funcionamento da ferramenta de corte
 * essas propiedades devem permanecer exatamente como
 * estão!
 * **************************************************
 */

img {
    max-width: 100%;
    max-height: 100%;
    border: none
}
.imagecut-targert {
    filter: blur(.1875rem) brightness(70%)
}
.imagecut-limiter::selection,
.imagecut-box::selection {
    background: transparent
}
.imagecut-limiter {
    display: inline-block;
    z-index: 1;
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    overflow: hidden;
    border: .0625rem solid rgba(0, 0, 0, .5)
}
.imagecut-limiter {
    min-width: 15.625rem;
    min-height: 15.625rem
}
.imagecut-box {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6.25rem;
    margin-top: -6.25rem;
    width: 12.5rem;
    height: 12.5rem;
    overflow: hidden;
    border: .0625rem solid rgba(255, 255, 255, .5);
    box-sizing: content-box;
    cursor: move
}
.imagecut-box > img {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    min-width: 15.625rem;
    min-height: 15.625rem;
    max-width: max-content;
    max-height: max-content
}
.imagecut-resize {
    width: 1.5625rem;
    height: 1.5625rem;
    position: absolute;
    bottom: .0625rem;
    right: .0625rem;
    z-index: 3;
    cursor: se-resize;
    border-style: solid;
    border-width: 0rem 0rem 1.5625rem 1.5625rem;
    border-color: transparent transparent rgba(0, 0, 0, .8) transparent;
    transform: rotate(0deg)
}
