/**
 * **************************************************
 * FileTransfer
 * @author Spell-Master (Omar Pautz)
 * @copyright 2018
 * @version 3.0 (2022)
 * **************************************************
 */

#file-transfer-container {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30vw;
    max-height: 50vh;
    min-width: 18.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1.25rem solid transparent;
    border-right: none;
    direction: rtl;
    padding-left: .625rem
}
#file-transfer-container .transfer-item,
#file-transfer-container .file-transfer-out {
    background-color: #333333;
    border: .0625rem solid #eeeeee;
    padding: .625rem;
    color: #cccccc;
    text-align: center;
    direction: ltr;
    position: relative;
    top: 0
}
#file-transfer-container .transfer-item {
    left: 0;
    animation: file-transfer-in 1s
}
#file-transfer-container .file-transfer-out {
    left: -25rem;
    animation: file-transfer-out 1s
}
#file-transfer-container .transfer-line,
#file-transfer-container .transfer-progress {
    top: 0;
    left: 0;
    height: .375rem
}
#file-transfer-container .transfer-line {
    margin-top: .25rem;
    position: relative;
    width: 100%;
    background: rgba(255,255,255,.1)
}
#file-transfer-container .transfer-progress {
    position: absolute;
    width: 0;
    background: #c40700;
    transition: 1s
}
#file-transfer-container .transfer-method,
#file-transfer-container .transfer-name,
#file-transfer-container .transfer-percent {
    font-size: 1rem
}
#file-transfer-container .transfer-name,
#file-transfer-container .transfer-percent {
    display: inline-block;
    vertical-align: top                
}
#file-transfer-container .transfer-name {
    max-width: 17.5rem;
    max-height: 3rem;
    overflow: hidden;
    word-wrap: break-word
}
#file-transfer-container .file-transfer-cancel {
    padding: .25rem;
    margin-top: .625rem;
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #333333;
    cursor: pointer;
    background: #eeeeee;
    transition: .2s ease-in;
    border: none
}
#file-transfer-container .file-transfer-cancel:hover {
    color: #ffffff;
    background: #c40700
}
@keyframes file-transfer-in {
    from {left: -18.75rem; opacity: 0}
    to {left: 0; opacity: 1}
}
@keyframes file-transfer-out {
    from {left: 0; opacity: 1}
    to {left: -25rem; opacity: 0}
}
