/**
 * **************************************************
 * Class ShoppingCart
 * @author Spell-Master (Omar Pautz)
 * @copyright 2021
 * @version 2.0 (2022)
 * **************************************************
 */

div[data-shopping-open] {
    transform: translateY(2.5rem)
}
div[data-shopping-open],
div[data-shopping-cart] {
    z-index: 1;
    position: fixed;
    bottom: 1.25rem;
    left: 1.25rem;
    transition: .5s all ease-in-out;
    opacity: 0;
    font-size: 1rem;
    color: #eeeeee
}
div.count-cart,
button.cart-submit {
    height: 3.125rem;
    margin-top: .3125rem
}
div.count-cart,
button.cart-submit,
button.cart-open,
button.cart-close,
div.cart-container,
button.cart-remove {
    background-color: #222222;
    border: .125rem solid #eeeeee;
    color: #eeeeee
}
div.count-cart,
div.cart-add {
    white-space: nowrap
}
div.count-cart,
button.cart-submit {
    display: inline-block;
    vertical-align: top
}
div.count-cart {
    margin-left: 2.8125rem;
    padding: 0 1.5625rem;
    line-height: 2.5rem;
    border-top-right-radius: 1.5625rem;
    border-bottom-right-radius: 1.5625rem;
    box-sizing: border-box
}
button.cart-submit,
button.cart-open,
button.cart-remove {
    background-repeat: no-repeat;
    background-position: center center
}
button.cart-submit,
button.cart-open,
button.cart-close,
button.cart-remove {
    border-radius: 50%;
    cursor: pointer
}
button.cart-submit,
button.cart-remove {
    background-size: .9375rem
}
button.cart-submit {
    padding: 0;
    margin-left: .3125rem;
    width: 3.125rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e %3cpath fill='%23eeeeee' d='M7.5 11h-7.5v4h15v-4h-7.5zM14 13h-2v-1h2v1zM3.5 5l4-4 4 4h-2.5v5h-3v-5z'%3e%3c/path%3e %3c/svg%3e")
}
button.cart-submit:hover {
    background-color: #000000
}
button.cart-open,
button.cart-close {
    position: absolute
}
button.cart-open {
    top: 0;
    left: 0;
    height: 3.75rem;
    width: 3.75rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e %3cpath fill='%23eeeeee' d='M6 14.5c0 0.828-0.672 1.5-1.5 1.5s-1.5-0.672-1.5-1.5c0-0.828 0.672-1.5 1.5-1.5s1.5 0.672 1.5 1.5z'%3e%3c/path%3e %3cpath fill='%23eeeeee' d='M16 14.5c0 0.828-0.672 1.5-1.5 1.5s-1.5-0.672-1.5-1.5c0-0.828 0.672-1.5 1.5-1.5s1.5 0.672 1.5 1.5z'%3e%3c/path%3e%3cpath fill='%23eeeeee' d='M16 8v-6h-12c0-0.552-0.448-1-1-1h-3v1h2l0.751 6.438c-0.458 0.367-0.751 0.93-0.751 1.562 0 1.105 0.895 2 2 2h12v-1h-12c-0.552 0-1-0.448-1-1 0-0.003 0-0.007 0-0.010l13-1.99z'%3e%3c/path%3e%3c/svg%3e");
    background-size: 1.875rem 1.25rem
}
button.cart-open:hover,
button.cart-close:hover,
button.cart-remove:hover {
    background-color: #111111
}
div[data-shopping-cart] {
    max-height: 18.75rem;
    max-width: 22.5rem;
    transform: translateY(18.75rem)
}
div[data-shopping-cart]:after,
div[data-shopping-cart]:before {
    content: " ";
    position: relative
}
div[data-shopping-open].open,
div[data-shopping-cart].open {
    transform: translateY(0);
    opacity: 1
}
button.cart-close {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: -1.875rem;
    left: -.625rem;
    font-size: 1.5625rem
}
div.cart-container {
    width: auto;
    max-height: 18.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -.625rem;
    border-radius: .5rem;
    padding: .3125rem
}
div.cart-add {
    border-bottom: .0625rem solid #111111;
    font-size: 1.125rem;
    padding: .625rem 1.25rem;
    /*height: 1.875rem;*/
    transition: .5s transform ease-out
}
div.cart-add.remove {
    transform: translateX(-18.75rem)
}
div.cart-name,
button.cart-remove {
    display: inline-block;
    vertical-align: middle
}
div.cart-name {
    width: 13.75rem;
    margin-right: .3125rem;
    overflow: hidden
}
button.cart-remove {
    height: 1.875rem;
    width: 1.875rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e %3cpath fill='%23eeeeee' d='M3 16h10l1-11h-12zM10 2v-2h-4v2h-5v3l1-1h12l1 1v-3h-5zM9 2h-2v-1h2v1z'%3e%3c/path%3e%3c/svg%3e")
}
div.cart-container > button.cart-submit {
    border: none;
    background-color: #000000;
    background-image: none;
    width: 100%;
    margin-left: 0;
    height: auto;
    padding: .5rem;
    border-radius: 0;
    box-shadow: 0 0 .125rem .0625rem rgba(0, 0, 0, .5)
}
div.cart-container > button.cart-submit:hover  {
    background-color: #eeeeee;
    color: #222222;
    box-shadow: 0 0 .125rem .0625rem rgba(238, 238, 238, .5)
}